--only-binary=:all:
--prefer-binary
streamlit==1.39.0
pandas==2.3.3
numpy==2.1.2
scipy==1.14.1
scikit-learn==1.7.2
imbalanced-learn==0.13.0
xgboost==2.1.1
matplotlib==3.9.2
seaborn==0.13.2
fastapi==0.115.2
uvicorn==0.30.3
