# Core libraries
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.2
seaborn==0.13.2
xgboost==2.0.3
imbalanced-learn==0.12.3
joblib==1.4.2

# API & Frontend
fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1
streamlit==1.38.0

# MLOps
mlflow==2.16.0

